<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>
        <%= name %>
    </h1>
    <h3>
        <%= email %>
    </h3>
    <h4>
        <%= address %>
    </h4>
    <h3>
        <%= usertype %>
    </h3>
    <img src="<%= imageUrl %>" alt="Profile Picture">
</body>

</html>